/Alzheimer_College.pdf
/appendix_a.md
/brain_stimulation_sunburst.html
/casp_assessment_table.ipynb
/casp_table.png
/casp_table_kleurcompact.png
/clinical_eeg_concordance.png
/clinical_eeg_concordance.py
/clinical_eeg_concordance_interactive.html
/data.xlsx
/DataOverview_SBecking.xlsx
/dementia and eeg - stam v7.5.doc
/dementia and eeg - stam v7.5.pdf
/EEG chapter proof_WH.pdf
/EEG Clinical Trials Draft 31-1-25.docx
/EEG Clinical Trials Draft 31-1-25.pdf
/eeg_frequency_bands.ipynb
/eeg_frequency_bands.py
/eeg_measures_effectiveness.png
/frequency_band_outcomes.png
/Geincludeerde Literatuur
/intervention_types_timeline.png
/Introduction.md
/Literature Review Protocol GSLES.pdf
/LitRevData.xlsx
/LR_Draft1_SBecking.docx
/LR_MethodsResults_SBecking.docx
/LR_Structuur_SBecking.docx
/medication_plot.pdf
/medication_plot.png
/medication_sunburst.html
/Meetings_Thesis.docx
/methodological_approaches.png
/methods.md
/newplot.png
/outcome_distribution.png
/plot_sunburst.py
/Possible.Figures.LitRev.docx
/quality_assessment_heatmap.png
/requirements.txt
/Results.md
/stimulation_plot.png
/studies_data.py
/studies_long_format.csv
/study_characteristics.png
/sunburst_plots.py